.NavContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;

  padding: 0 1.5rem;
}

.NavTitle p {
  font-style: italic;
  color: var(--text-color-muted);
  letter-spacing: 0.2rem;
}

.NavLinks {
  display: flex;
  align-items: center;
  height: 100%;
}

.NavLinks > div {
  display: flex;
  align-items: center;
  color: var(--nav-text-color);
  background: linear-gradient(
    45deg,
    rgb(194, 194, 194) 20%,
    rgb(255, 255, 255) 80%
  );
  /* border: 1px solid #aaa; */

  height: 2.8rem;
  border-radius: 100px;

  padding: 0 3.5rem;
  margin: 2rem;
  transition: all 0.2s;
}

.NavLinks p {
  transition: all 0.2s;
  font-size: 1.1rem;
}

.NavLinks div.selected {
  color: var(--nav-text-color-selected);
  background: var(--nav-option-color);
  border: none;
}

.NavLinks > div:hover {
  cursor: pointer;
  font-style: italic;
  transition: all 0.2s;
  border: none;
  background: var(--nav-option-color);
  color: white;
}
